<html>
  <head>
  </head>
  <body>
      <article>
        <section class ="Section">
          <h2 class="Section_Title">New to the Cafe House?</h2>
          <div>
            <a class="Section_Link"href=<%=view_register_path%> >Sign-up for a new account</a>
          </div>
        </section>
        <section class ="Section">
          <h2 class="Section_Title">Already have a account?</h2>
          <div>
            <a class="Section_Link"href=<%= view_login_path %>  >Sign-in</a>
          </div>
        </section>
      </article>
  </body>
</html>
