body{
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.error_message{
  color: darkred;
  font-size: 15px;
}
.success_message{
  color: darkolivegreen;
  font-size: 14px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.row{
  display: flex;
  align-items: center;
  margin: 3px;
}

.row-bottom{
  align-items: end;
}

.Page_main{
  margin: 5% auto;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
.Header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
  padding-bottom: 8px;
}
.Header:hover{
  border-color: rgb(112, 12, 112);
}
.Header-title, .Header-signout{
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  color:gray;
}
.Header-signout{
  font-size: 16px;
  padding: 0 5px;
}
.Header-signout:hover{
  color : rgb(112, 12, 112);
  cursor: pointer;
}
.Header-title:hover{
  color : rgb(112, 12, 112);
}
.Section_Title{
  color: #453c52c9;
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}
.Section_Link{
  font-size: 14px;
}

.Section > .input_box > .input_text{
  padding: 3px 10px;
  height: 23px;
  border-radius: 4px;
  border: 2px solid;
  border-color: rgb(112, 12, 112);;
}

.Section > .input_box{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 60%;
}
.Section > .input_box >  .input_box-label{
  font-size: 12px;
  margin: 5px 0;
  color: rgb(175, 22, 175);
  font-weight: 400;
}
.Section > button {
  padding: 3px 10px;
  height: 32px;
  border: 0px;
  margin: 0;
  background-color: rgb(112, 12, 112);
  color : white;
  border-radius: 4px;
  cursor: pointer;
}
.Section > button:hover{
   background-color: rgba(112, 12, 112, 0.85);
}

.input_text-select{
  padding: 3px 10px;
  height: 36px;
  border-radius: 4px;
  border: 2px solid;
  border-color: rgb(112, 12, 112);;
}
.input_text-select-small{
  height: 28px;
  padding: 3px 0px;
  margin-left: auto;
}

.Purple-Text{
  color: rgb(112, 12, 112);
}
.red-Text{
  color: darkred;
}
.Green-Text{
  color: darkolivegreen;
}
.Green-Text_Light{
  color: #279b27;
}

.hideElement{
  display: none;
  margin: 0;
  padding: 0;
}

.pointer{
  cursor: pointer;
}

.sized-box{
  width: 5px;
  height: 5px;
}
.button-small{
  padding: 0 10px;
  height: 24px;
  border: 0px;
  margin: 0px;
  background-color: rgb(112, 12, 112);
  /* color : #e7e7e7; */
  color : white;
  border-radius: 4px;
  cursor: pointer;
}
.button-small:hover{
  background-color: rgba(112, 12, 112, 0.85);
}

.button-yellow{
  background-color: rgb(141 158 10);
}
.button-yellow:hover{
  background-color: rgba(141, 158, 10, 0.775);
}

.column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.border-bottom{
  border-bottom: 2px solid rgba(112, 12, 112, 0.85); ;
}

.margin_left-auto{
  margin-left: auto;
}

.footer{
  margin-top: 20%;
  padding:10px;
  justify-content: center;
  gap: 10px;
  border-top: 2px solid rgb(112, 12, 112);
}
